export(FacetGridx)
export(GeomLinerangeh)
export(GeomPointrangeh)
export(PositionDodgev)
export(facet_gridx)
export(geom_linerangeh)
export(geom_pointrangeh)
export(grobGridCols)
export(grobGridRows)
export(position_dodgev)
import(ggplot2)
